@import "../../../styles/variables.scss";

.idb-crud-database {
  .idb-crud-db-name {
    padding: 0 5px 0 17px;
  }
  .idb-crud-db-table {
    cursor: pointer;
    height: 27px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 50px;

    &.selected {
      color: $primary-darker;
      background-color: $primary-lighter;
    }

    &:not(.selected):hover {
      background-color: $secondary-lighter;
    }
  }
}
