@import "../../../../../src//styles/variables.scss";

.idb-crud-table-control-panel {
  position: fixed;
  top: 0;
  padding: 5px;
  background-color: #fff;
  width: 100%;
  height: 40px;

  display: flex;
  align-items: center;
  gap: 10px;

  border-bottom: 2px solid $secondary-light;

  &-actions {
    display: flex;
    gap: 5px;
  }
}
