@import "../../../../styles/variables.scss";

.idb-crud-table-container {
  width: 100%;
  height: 100%;

  overflow: scroll;

  .idb-crud-table {
    width: 100%;
    border-collapse: collapse;

    &-head {
      background-color: $secondary-lighter;
      color: #333;
      text-align: left;
      padding: 10px 8px;
      border-bottom: 2px solid $secondary-medium;
    }

    &-row {
      &:nth-child(odd) {
        background-color: #fff;
      }

      &:nth-child(even) {
        background-color: $secondary-lighter;
      }

      &:hover {
        background-color: $secondary-light;
      }
    }

    &-data {
      padding: 8px;
      border-bottom: 1px solid $secondary-medium;
    }

    th,
    td {
      border-right: 1px solid $secondary-medium;

      &:last-child {
        border-right: none;
      }
    }

    &-no-content {
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
