@import "./variables.scss";

#idb-crud-app {
  font-family: archivo, apple-system, BlinkMacSystemFont, sans-serif, "Segoe UI" !important;
  font-size: 14px !important;
  color: #1e293b !important;

  * {
    box-sizing: border-box !important;
  }

  position: absolute;
  z-index: 99999999999999999999999 !important;

  .idb-crud-drawer-toggler {
    all: unset;

    position: fixed;
    bottom: 50%;
    right: 5px;

    background-color: black;
    color: white;
    cursor: pointer;
  }

  .idb-crud-text-center {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg:not(.react-json-view svg) {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

    path {
      fill: $secondary-medium;
    }

    &.disabled {
      cursor: auto;
      path {
        fill: $secondary-light;
      }
    }

    &:not(.disabled):hover {
      background-color: $primary-lighter;
      padding: 2px;
      path {
        fill: $secondary-dark;
      }
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0.1rem;
    border: 1px solid $secondary-medium;
    border-radius: 0.32rem;
    cursor: pointer;
    width: 0.95rem;
    height: 0.95rem;

    &::before {
      content: "";
      width: 0.65rem;
      height: 0.65rem;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      background-color: $secondary-lighter;
    }

    &:checked {
      background-color: $primary-medium;
      border-color: $primary-medium;
      &::before {
        transform: scale(1);
      }
    }

    &:hover {
      border-color: $secondary-dark;
    }
  }

  input[type="text"] {
    border: 1px solid $secondary-light;
    outline: none;
    border-radius: 0.32rem;
    padding: 0 5px;
    font-weight: 400;
    color: $secondary-dark !important;
    min-width: 60px;
    width: 100%;
    height: 23px;

    &::placeholder {
      color: $secondary-medium !important;
      font-weight: 100;
    }

    &:focus {
      border-color: $primary-medium;
    }

    &:not(:focus):hover {
      border-color: $secondary-dark;
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $secondary-light !important;
    border-radius: 5px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-light !important;
    border-radius: 10px !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-medium !important;
  }

  -webkit-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
