.idb-crud-main {
  font-family: Archivo, Roboto, sans-serif !important;
  font-size: 13px;

  position: absolute;
  z-index: 9999999;

  button {
    all: unset;

    position: fixed;
    bottom: 50%;
    right: 5px;

    background-color: black;
    color: white;
    cursor: pointer;
  }
}
