@import "./variables.scss";

.idb-crud-main {
  font-family: Archivo, Roboto, sans-serif !important;
  font-size: 14px;

  position: absolute;
  z-index: 9999999;

  .idb-crud-drawer-toggler {
    all: unset;

    position: fixed;
    bottom: 50%;
    right: 5px;

    background-color: black;
    color: white;
    cursor: pointer;
  }

  .idb-crud-text-center {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  svg {
    path {
      fill: $secondary-medium;
    }

    &.disabled {
      path {
        fill: $secondary-light;
      }
    }

    &:not(.disabled):hover {
      path {
        fill: $secondary-darker;
      }
    }
  }

  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px $secondary-light;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-light;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-medium;
  }
}
