// Refer - https://tailwindcss.com/docs/customizing-colors

$primary-lighter: #dbeafe; // blue-100
$primary-light: #bfdbfe; // blue-200
$primary-medium: #60a5fa; // blue-400
$primary-dark: #2563eb; // blue-600
$primary-darker: #1e40af; // blue-800

$secondary-lighter: #f1f5f9; // gray-100
$secondary-light: #e2e8f0; // gray-200
$secondary-medium: #94a3b8; // gray-400
$secondary-dark: #475569; // gray-600
$secondary-darker: #1e293b; // gray-800
