@import "../../../../src/styles/variables.scss";

.idb-crud-pagination {
  display: flex;
  align-items: center;
  height: 30px;
  gap: 10px;

  &-button-group {
    display: flex;
    gap: 5px;
  }

  &-next,
  &-previous {
    border: 1px solid $secondary-light;
    border-radius: 50%;
  }

  &-page-info {
    color: $secondary-dark;
  }
}
